﻿@{
    ViewBag.Title = "Station's Attendee Information";
    var TimeInterval = TempData["ReLoadContentTime"];
}
<script src="~/Script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script type="text/javascript">
    var flag = false;
    var interval;
    var isDataLoaded = false;
    var isFirstLoad = true;
    var TimeToReloadChart =@TimeInterval

        window.onload = function () {
            (function () {
                var counter = TimeToReloadChart / 1000;
                if (counter < 1) {
                    setInterval(function () {
                        counter--;
                        if (counter >= 0) {
                            span = document.getElementById("count");
                            $("#timeCounter").show();
                            span.innerHTML = counter;
                        }
                        // Display 'counter' wherever you want to display it.
                        if (counter === 0) {
                            $("#timeCounter").hide();
                            $("#tblControls").show();
                            $("#btnLoadChart").click();
                            clearInterval(counter);
                        }
                    }, 1000);
                }
                else {
                    $("#timeCounter").hide();
                    $("#tblControls").show();
                    $("#btnLoadChart").click();
                    clearInterval(counter);
                }

            })();

        }

    $(document).ready(function () {
        // GetDataUsingAjax($("#ddlSelectTimeStemp").val(), "N");
        // show the loading message.
        LoadData();
        //$("#btnPauseChart").click(function () {
        //    clearInterval(TimeToReloadChart);
        //})
        //$("#btnLoadChart").click(function () {

        //})
        $('#btnPlayPauseLoadChart').click(function () {
            debugger;
            if (flag) {
                $(this).html('Pause');
                interval = setInterval(function () {
                    if (flag == false) {
                        GetDataUsingAjax($("#ddlSelectTimeStemp").val(), "N");
                    }
                }, interval);
            } else {
                $(this).html('Play');
                clearInterval(interval);
            }
            flag = !flag;
        });

        $('#btnLoadChart').click(function () {
            TimeToReloadChart =@TimeInterval
               $('#loadingmessage').show();
            $('#chartContainer').hide();
            GetDataUsingAjax($("#ddlSelectTimeStemp").val(), "Y");
            interval = setInterval(function () {
                GetDataUsingAjax($("#ddlSelectTimeStemp").val(), "N");
            }, TimeToReloadChart);
        });
    });
    function GetDataUsingAjax(TimeStamp, IsDdlChanged) {
        $.ajax({
            type: "POST",
            url: "/Home/ReadJson",
            data: { IntervalTime: TimeStamp, strIsDDlChanged: IsDdlChanged },
            dataType: "json",
            success: function (data) {
                if (data != "[]") {
                    PlotChart(data);
                }
                else {
                    alert("There is no data to load on chart. We are getting that from the beginning.")
                }
            }
        });
    }

    function LoadData() {
        $('#loadingmessage').show();
        $.ajax({
            type: "GET",
            url: "/Home/LoadData",
            async: false,
            data: {},
            success: function (response) {
                isDataLoaded = response;
                $('#loadingmessage').hide(); // hide the loading message
            }
        });
    }

    //setInterval(function () {
    //    if (isDataLoaded)
    //        GetDataUsingAjax($("#ddlSelectTimeStemp").val(), "N");
    //}, TimeToReloadChart);


    function PlotChart(AttendeeData) {

        $('#chartContainer').show();
        var dataPoints1 = [];
        data1 = $.parseJSON(AttendeeData);
        var i = 0;
        var CountOfTotalRecord = 0;
        var TotalNumberOfCountOfAttendeeWithZero = 0;
        $.each(data1, function (i, item) {
            CountOfTotalRecord++;
            if (item.CountOfAttendee == 0) {
                TotalNumberOfCountOfAttendeeWithZero++;
            }
            dataPoints1.push({ label: item.HostName, y: item.CountOfAttendee });
        });
        if (CountOfTotalRecord == TotalNumberOfCountOfAttendeeWithZero) {
            $("#btnPlayPauseLoadChart").hide()
        }
        else {
            $("#btnPlayPauseLoadChart").show()
        }
        
        $.get('/Home/GetCurrentTimeStamp/', function (data) {
            var splitDate = data.split(',')
            var dtDateFrom = splitDate[0];
            var dtDateTo = splitDate[1];
            var SetHtml = "You are getting records from <b>" + dtDateFrom + "</b> to <b>" + dtDateTo;
            $("#divTimeStamp").html(SetHtml);
        })

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Attendees Bar Chart"
            },
            data: [
            {
                type: "column",
                dataPoints: dataPoints1
            }
            ],

            yAxes: [{
                stacked: true,
                ticks: {
                    min: 0,
                    stepSize: 0,
                }

            }]

        });
        chart.render();
        $('#loadingmessage').hide();
    }
</script>
<div style="text-align:center;width:100%">
    <h2>Station's Attendee Information</h2>
    <br />
    <br />
    <p id="timeCounter" style="display:none">The chart will display within <b><span id="count"></span></b> seconds...</p>
    <div id="SecondCounter"></div>
    <table style="margin-left:35%;background-color:grey;display:none;" id="tblControls">
        <tr>
            <td>
                <select id="ddlSelectTimeStemp">
                    <option value="0">Select Time Stamp</option>
                    <option value="1">1 Min</option>
                    <option value="5">5 Mins</option>
                    <option value="30">30 Mins</option>
                    <option value="60">1 hr</option>
                    <option value="1440">1 Day</option>
                </select>
            </td>
            <td>
                <button id="btnLoadChart" style="background-color:silver; width:100px;">Show Chart</button>
                <button id="btnPlayPauseLoadChart" style="background-color:silver; width:100px;display:none">Pause</button>
                @*<input type="button" id="btnLoadChart" style="background-color:silver; width:100px" value="Pause" />*@
                @*<input type="button" id="btnPauseChart" style="background-color:silver; width:100px" value="Pause" />*@
            </td>
        </tr>
    </table>
    <br />
    <div id="divTimeStamp">
    </div>
</div>
<div id='loadingmessage' style="margin-left:43%;margin-right:40%;">
    <img src='~/Images/loading.gif' />
</div>
<div id="chartContainer" style="height: 400px; width: 100%;"></div>
