﻿@{
    ViewBag.Title = "ShowAttandance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowAttandance</h2>
@*<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
<script src="~/Scripts/canvasjs.min.js"></script>

@*<script type="text/javascript">

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",//theme1
            title: {
                text: "Show Attandance"
            },
            animationEnabled: false,   // change to true
            data: [
            {
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "column",
                dataPoints: [
                    { label: "apple", y: 10 },
                    { label: "orange", y: 15 },
                    { label: "banana", y: 25 },
                    { label: "mango", y: 30 },
                    { label: "grape", y: 28 }
                ]
            }
            ]
        });
        chart.render();
    }
</script>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>*@



<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer1",
        {
            title: {
                text: "Top Oil Reserves"
            },
            data: [

            {
                dataPoints: [
                { x: 10, y: 10, label: "Venezuela" },
                { x: 20, y: 20, label: "Saudi" },
                { x: 30, y: 25, label: "Canada" },
                { x: 40, y: 30, label: "Iran" },
                { x: 50, y: 40, label: "Russia" },
                { x: 60, y: 50, label: "UAE" }
                //{ x: 70, y: 20682, label: "US" },
                //{ x: 80, y: 20350, label: "China" }
                ]
            }
            ]
        });

        chart.render();
    }
</script>
<div id="chartContainer1" style="height: 300px; width: 100%;">
</div>
